<div class="login panel panel-default">
  <div class="panel-heading">Log In</div>
  <div class="panel-body login-form">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="string" class="form-control" id="username" required
               [(ngModel)]="model.username" name="username" #username="ngModel">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required
               [(ngModel)]="model.password" name="password" #password="ngModel">
      </div>
      <div class="form-group">
        <div [hidden]="loginForm.form.valid || loginForm.pristine"
             class="alert alert-danger">
          Email and password are required
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Log in</button>
    </form>
  </div>
</div>

<div class="login panel panel-default">
  <div class="panel-body">
    Don't have an account? <a href="/">Sign Up</a>
  </div>
</div>
