menu{
  padding-left: 0;
}

.banner-color {
  background-color: #333333
}

.component-dark {
  background-color: #444444
}

.component-title-dark {
  color: #e7e7e7;
}


.title-color {
  color: #f8f8f8;
}
