.layout {
  height: 600px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

.parking-space-size {
  height: 50px;
}

.garage-elements-layout, .garage-map-layout {
  height: inherit;
  margin-left: 1%;
}

.panel-body.parking-elem-container {
  height: inherit;
}

parking-space{
  display: flow-root;
  height: 0;
  width: 0;
}

parking-item.xsmall{
  width: 40px;
  height: 40px;
}

parking-item.small {
  width: 60px;
  height: 60px;
}

parking-item.medium {
  width: 100px;
  height: 100px;
}
