.layout-container {
  height: 500px;
}

.buttons-container {
  text-align: right;

}

.panel-title {
  display: inline-block;
}

.panel-title > span {
  cursor: pointer;
}

.panel-title > span.active {
  font-weight: bold;
}

#garage.editLayout {
  cursor: crosshair;
}

#garage.deleteMode {
  cursor: no-drop;
}

.deleteModeBtn.active {
  background-color: #761c19;
}

.floor, .drawFloor {
  float: right;
}

.drawFloor button[disabled] {
  background-color: grey !important;
}

.cancel-button {
  margin-right: 5px;
}

.parking-space-size {
  height: 50px;
}

.garage-elements-layout, .garage-map-layout {
  height: inherit;
  margin-left: 1%;
}

.panel-body.parking-elem-container {
  height: inherit;
}

parking-space {
  display: flow-root;
  height: 0;
  width: 0;
}

parking-item.xsmall {
  width: 40px;
  height: 40px;
}

parking-item.small {
  width: 60px;
  height: 60px;
}

parking-item.medium {
  width: 100px;
  height: 100px;
}
