<div class="layout">
  <div class="col-lg-9 col-sm-9 garage-map-layout panel panel-default">
    <div id="garage" class="panel-body parking-elem-container dropzone">
      <parking-space *ngFor='let parkingSpace of parkingSpaces; let i = index'
        id="parking-space-{{i+1}}" [model]='parkingSpace'></parking-space>
    </div>
  </div>
  <div class="col-lg-2 col-sm-2 garage-elements-layout panel panel-default">
    <div class="panel-body parking-elem-container">
    <parking-item class="xsmall" (click)="renderSmallParkingSpace()"></parking-item>
    <parking-item class="small" (click)="renderMediumParkingSpace()"></parking-item>
    <parking-item class="medium" (click)="renderLargeParkingSpace()"></parking-item>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <footer>
      <button class="btn btn-default">Cancel</button>
      <button (click)="saveLayout()" class="btn btn-success">Save</button>
      </footer>
    </div>
  </div>
</div>
