.layout {
  height: 600px;
}


.parking-space-size {
  height: 50px;
}


.garage-elements-layout, .garage-map-layout {
  height: inherit;
  margin-left: 1%;
}

.panel-body.dropzone {
  height: inherit;
}
