<div class="layout">
  <div class="row">
    <div class="col-sm-12 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Layout</h3>
          <span class="floor"> Floor:
        <button *ngIf="currentFloor > 0" class="btn-primary" (click)="lowerFloor()"> < </button>
        {{currentFloor + 1}}
        <button class="btn-primary" (click)="upperFloor()"> > </button>
      </span>
        </div>
        <div id="garage" #garage class="panel-body dropzone layout-container"
             [ngStyle]="{'height.px': (garage.offsetWidth/1080)*720 }">
          <parking-space *ngFor='let parkingSpace of floors[currentFloor].parkingSpaces; let i = index'
                         id="parking-space-{{i+1}}" [model]='parkingSpace'></parking-space>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Choose a parking space</h3>
        </div>
        <div class="panel-body layout-container">
          <parking-item class="xsmall" (click)="renderSmallParkingSpace()"></parking-item>
          <parking-item class="small" (click)="renderMediumParkingSpace()"></parking-item>
          <parking-item class="medium" (click)="renderLargeParkingSpace()"></parking-item>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-9">
      <div class="buttons-container">
        <button class="btn btn-danger cancel-button">Cancel</button>
        <button (click)="saveLayout()" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
