<div class="row">
  <div class="col-lg-2 col-sm-12">
    <menu></menu>
  </div>

  <div class="feature col-sm-12 col-lg-9">
    <router-outlet></router-outlet>
  </div>

  <div class="notifications col-sm-4">
<div>
    <div class="notification row">
      hola hola hola
    </div>
    <br>
  </div><div>
      <div class="notification row">
        hola hola hola
      </div>
      <br>
    </div><div>
        <div class="notification row">
          hola hola hola
        </div>
        <br>
      </div><div>
          <div class="notification row">
            hola hola hola
          </div>
          <br>
        </div>
  </div>
</div>
