.statistic-card {
  height: 30px;
  width: 200px;
  border-radius: 5%;
}

.statistics {
  padding-top: 5px;
}

.padding-top-md {
}

.padding-bottom-sm {
  padding-bottom: 10px;
}

.text-lg {
  font-size: 40px;
}

.text-sm {
  font-size : 15px;
}
