<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Hello, {{model.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>These are your statistics.</h3>
    </div>
  </div>
  <div class="statistics text-bold text-lg">
  <div class="row">
    <div class="col-sm-3">
      <div class="statistic-card btn-warning text-center">
        <p class="padding-top-md">Bikes</p>
        <p>{{model.bikes}}</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="statistic-card component-dark component-title-dark text-center">
        <p class="padding-top-md">Cars</p>
        <p>{{model.cars}}</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="statistic-card btn-warning text-center">
        <p class="padding-top-md">Pickups</p>
        <p>{{model.pickups}}</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="statistic-card component-dark component-title-dark text-center">
        <p class="padding-top-md">Occupancy</p>
        <p>{{model.occupancies}}%</p>
      </div>
    </div>
  </div>
  </div>


</div>
