<div class="container padding-bottom-sm">
  <div class="row">
    <div class="col-sm-12">
      <h3>Hello, {{model.name}}. These are your statistics.</h3>
    </div>
  </div>
  <div class="statistics text-bold text-sm">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-3">
            <div class="statistic-card btn-warning text-center">
              <p class="padding-top-md">Bikes: {{model.bikes}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="statistic-card component-dark component-title-dark text-center">
              <p class="padding-top-md">Cars: {{model.cars}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="statistic-card btn-warning text-center">
              <p class="padding-top-md">Pickups: {{model.pickups}}</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="statistic-card component-dark component-title-dark text-center">
              <p class="padding-top-md">Occupancy: {{model.occupancies}}%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
