.viewOccupancy {
  height: 600px;
}

.garage-map-layout {
  height: inherit;
  margin-left: 1%;
}

.panel-title {
  display: inline-block;
}

.floor {
  float: right;
}

>>> .parking-space, .square{
  background-color: green !important;
}

>>> .parking-space.occupied{
  background-color: red !important;
}
