<div class="viewOccupancy">

  <div class="col-sm-12 col-md-9">
    <div class="garage-map-layout panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Occupancy</h3>
          <span class="floor"> Floor:
            <button *ngIf="currentFloor > 0" class="btn-primary" (click)="lowerFloor()"> < </button>
            {{currentFloor + 1}}
            <button class="btn-primary" (click)="upperFloor()"> > </button>
          </span>
        </div>
      <div id="garage" #garage class="panel-body parking-elem-container dropzone"
        [ngStyle]="{'height.px': (garage.offsetWidth/1080)*720 }">
        <parking-space *ngFor='let parkingSpace of floors[currentFloor].parkingSpaces; let i = index'
          id="parking-space-{{i+1}}" [model]='parkingSpace'
          (click)='toggleOccupancy(i)'></parking-space>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pending Drivers</h3>
        </div>
        <div class="panel-body layout-container">
          <div *ngFor='let driver of getAllDrivers() | async'>
            <div class="row" *ngIf='driver.waiting'>
            <div class="col-sm-12">
              <div class="notification text-center">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="driver-info text-left">
                      <div> {{driver.name}} </div>
                      <div> {{driver.plate}} </div>
                      <div> {{driver.waiting}} </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="notification-buttons">
                      <div (click)="selectDriver(driver)" class="driver-accept-button">
                        <i class="glyphicon glyphicon-ok-circle text-success notification-button"></i>
                      </div>
                      <div (click)="denyDriver(driver);" class="driver-deny-button">
                        <i class="glyphicon glyphicon-remove-circle text-danger notification-button"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
