.viewOccupancy {
  height: 600px;
}

.garage-map-layout {
  height: inherit;
}

.panel-title {
  display: inline-block;
}

.floor {
  float: right;
}

.driver {
  padding: 5px 10px;
  cursor: pointer;
}

parking-space {
  cursor: pointer;
  margin: 0;
  display: flow-root;
  height: 0;
  width: 0;
}


>>> .parking-space, .square {
  background-color: green !important;
}

>>> .parking-space.occupied {
  background-color: red !important;
}

.notifications {
  position: absolute;
  right: 0;
  text-align: right;
}

.notification {
  padding: 10px 0;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 90%;
}

.notification-button {
  font-size: 16px;
}

.driver-deny-button {
  padding-top: 5px;
  cursor: pointer;
}

.driver-deny-button:hover {
  color: lightsalmon;
}

.driver-info {
  padding-left: 15px;
  padding-top: 5px;
}
