<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4">
    <img class="logo" src="../../assets/img/logo_transparent.png"/>
      </div>
      <div class="col-sm-8">
        <div class="top-padding-45">
          <p class="title-logo"> Estacionapp </p>
        <p class="subtitle-logo"> Park safely and ridiculously fast</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="padding-login">
    <login></login>
    </div>
  </div>
</div>
