.logo {
  height: 400px;
  width: 400px;
}

.title-logo {
  font-size: 90px;
}

.subtitle-logo {
  font-size: 40px;
}

.padding-login {
  padding-top: 20px;
}

.top-padding-45 {
  padding-top: 45px;
}
